
.background{
  background-color: #DCD7C9;
}

.darkBackground{
background-color: #A27B5C;
color: #DCD7C9;
}

h1{
  color: #A27B5C;
  /* text-align: center; */
  /* font-weight: bold; */
  /* font-family: 'Bree Serif', serif; */
}

button{
  color: #DCD7C9;
  background-color: #A27B5C;
  border: none;
  font-size: 1.1rem;
  font-weight: 500;
}
